header {
    background-color: #1abc9c;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Style the footer */

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
}

/* footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
} */

#aside1 {
    width: 50%;
    height: 300px;
    /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}

#aside2 {
    width: 50%;
    height: 300px;
    /* only for demonstration, should be removed */
    background: #cccc;
    padding: 20px;
}

#airmax {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p.excerpt {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
}

#myIn {
    float: left;
    padding: 10px;
    width: 100%;
    background-color: #f1f1f1;
    height: 500px;
    /* only for demonstration, should be removed */
}

.first-paragraph-container {
    position: relative;
    background-image: url('img/portada.jpg');
    height: 300px;
    text-align: center;
}

.first-paragraph {
    background-color: rgba(0, 0, 0, 0.616);
    bottom: 100px;
    right: 17%;
    position: absolute;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.section-of-content {
    position: relative;
    text-align: center;
    background-color: rgb(128, 130, 132);
    height: 300px;
    margin-top: 5px;
}

.content-paragraph {
    bottom: 100px;
    right: 1%;
    position: absolute;
    color: rgb(247, 247, 247);
    padding-left: 20px;
    padding-right: 20px;
}

.second-paragraph-container {
    position: relative;
    background-image: url('img/writing-pad.jpg');
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
}

.second-paragraph {
    background-color: rgba(0, 0, 0, 0.616);
    bottom: 100px;
    right: 35%;
    position: absolute;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

/* Style the search box */

#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 2px solid #DC143C;
}

/* Style the navigation menu */

#myMenu {
    list-style-type: none;
    padding: 20;
    margin: 0;
}

/* Style the navigation links */

#myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
}

/* Clear floats after the columns */

section:after {
    content: "";
    display: table;
    clear: both;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

h1.lol {
    font-family: Gill Sans, Verdana;
    font-size: 11px;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.contacts-form {
    text-align: center;
    margin: 10px;
}

.txtb label {
    display: block;
    text-align: left;
    margin: 3px;
}

.txtb input, textarea {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn {
    padding: 8px;
    color: white;
    background: #1abc9c;
    border: none;
    border-radius: 5px;
}

form, .content {
    width: 25%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
}