header {
    background-color: #1abc9c;
    padding: 30px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  /* Style the footer */
  footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
  }

  #aside1 {
    width: 50%;
    height: 300px;
    /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
  }

  #aside2 {

    width: 50%;
    height: 300px;
    /* only for demonstration, should be removed */
    background: #cccc;
    padding: 20px;

  }

  #airmax {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;

  }

  p.excerpt {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;



  }


  #myIn {
    float: left;
    padding: 10px;
    width: 100%;
    background-color: #f1f1f1;
    height: 500px;
    /* only for demonstration, should be removed */
  }

  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a.active {
    background-color: #4CAF50;
    color: white;
  }

  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  h1.lol {
    font-family: Gill Sans, Verdana;
    font-size: 11px;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
  }